<h5>You have selected these many seats :{{item}} </h5>
<h4>Booking for {{testService.fname}}</h4>

<div>

    <!-- <label for="name" class="name">Enter Name</label> -->
    <form #form="ngForm">
        <h4>Enter Aadhar number</h4>
        <input type="number" ngModel name="aadhar" #aadhar="ngModel" />
        <h4>Enter names of passengers</h4>
        <input type="text" ngModel name="names" #names="ngModel" />
        <br><br>
        <h4>Enter gender of passengers</h4>
        <input type="text" ngModel name="gender" #gender="ngModel" />
        <br><br>
        <h4>Enter Age of passengers</h4>
        <input type="text" ngModel name="age" #age="ngModel" />
        <br>
        <button class="btn btn-primary" type="submit" (click)="payment(form)">Make payment</button>
    </form>
</div>
