
<h5>You have selected these many seats :{{item}} </h5>
<h4>Booking for {{testService.fname}}</h4>
<li *ngFor='let in of counter(item) ;let item = index'>
    <form class="small">

        Enter name : <input type="text" name="name" id="">
        <br>
        <br>
        Enter age : <input type="number" name="age" id="">
        <br>
        <br>
        Choose Gender
        <input type="radio" name="gender" id="">Male
        <input type="radio" name="gender" id="">Female
        <br>
        <br>
        
    </form>
    </li>
    <button class="btn btn-primary" type="submit" (click)="payment()">Make payment</button>
