<p>fname={{this.users.firstName}}</p>
 <div id="register">
        <form>
           <h2>User Registeration</h2>
      <div id="table1"> <table >
          
            <tr>
            <td> Enter your first name : </td>
            <td> <input [(ngModel)]="users.firstName" type="text" name= "first_name"  required> </td>
            </tr>
            <tr>
                <td> Enter your last name : </td>
                <td> <input [(ngModel)]="users.lastName" type="text" name= "last_name"  required> </td>
                </tr>
            <tr>
                <td> Select Gender : </td>
                <td> <input [(ngModel)]="users.gender" type="radio" value="male" name="gender"> Male 
                <input [(ngModel)]="users.gender" type="radio" value="female" name="gender"> Female </td>
                </tr>
                <!-- <tr>
                    <td> Enter your birthdate : </td>
                    <td> <input [(ngModel)]="users.dof" type="date" name= "date"  required> </td>
                    </tr> -->
            <!-- <tr>
                <td> Enter your Email id : </td>
                <td> <input [(ngModel)]="users.emailId" type="email" name= "email"  required> </td>
                </tr> -->
                <tr>
                    <td> Enter your phone number : </td>
                    <td> <input [(ngModel)]="users.mobileNumber" type="number" name= "phonenumber"  required> </td>
                    </tr>
                    
                        <!-- <tr>
                            <td>Enter ID NO:</td>
                            <td><input [(ngModel)]="users.id_no" type="text" name="number" required></td>
                        </tr> 
                        <tr>  -->
                <td> Enter your password : </td>
                <td> <input [(ngModel)]="users.password" type="password" name="password"></td>
                <!-- </tr> -->
                <tr>
                    <td> Confirm password : </td>
                    <td> <input type="password" name="password2"></td>
                    </tr>
            </table></div>
            <button class="btn btn-success" (click)="createuser()" >Create</button>
    </form>
    <!--  <p><input type="submit" value="Submit" name="Submit" style="font-size: 15px;"> -->
         
<p><input type="submit"   routerLink="/signup" value="Login" style="font-size: 15px;"></p>
</div>