<div class="container">
    <div class="card">
        <div class="card-body " *ngFor="let bus of buses">
            <h5 class="card-title exp">
                <b>{{testService.fname}}</b>
                <b>{{bus.busFrom}}</b>
                <b>{{bus.busTo}}</b>
                <b>{{bus.busFair}}</b>
                <b>{{bus.busNumber}}</b>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted exp"></h6>
            <p class="card-text exp">Some quick example text to build on the card title and make up the bulk of
                the
                card's
                content.</p>
        </div>
    </div>
</div>