<div class="container">
    <h1>Enter Uid number to check bookings</h1>
    <br>
    Enter Uid : <input type="number" [(ngModel)]="aadh">
    <br>
    <button (click)="btn()">Check bookings</button>
    <div *ngIf="toToggle; else elseBlock" class="card">
        <div class="card-body exp">
            <b>Customer Name</b>
            <b>Customer Gender</b>
            <b>Customer Age</b>
            <b>Seat Number</b>
            <b>Booked From</b>
            <b>Booked To</b>
            <b>Paid Fare</b>
            <b>Bus Number</b>
            
        </div>
    </div>
    <div class="card">
        <div class="card-body " *ngFor="let booking of filteredBookings">
            <h5 class="card-title exp">
                <b>{{booking.customerName}}</b>
                <b>
                    {{booking.customerGender}}
                </b>
                <b>
                    {{booking.customerAge}}
                </b>
                <b>
                    {{booking.seatNumber}}
                </b>
                <b>
                    {{booking.bookedFrom}}
                </b>

                <b> 
                    {{booking.bookedTo}}
                </b>

                <b>
                    {{booking.paidFair}}
                </b>

                <b>
                    {{booking.busNumber}}
                </b>


            </h5>
            
            
        </div>
    </div>
    <ng-template #elseBlock></ng-template>
</div>