<div class="container">
    <div class="row container1">
        <div class="col-md-12 col-lg-12 col-sm-12">
            
            <div class="card">
                <div class="card-body " *ngFor = "let bus of buses">
                    <h5 class="card-title exp"><b>{{bus.busName}}</b>{{bus.busNumber}}<b></b> <b>{{bus.busFrom}}</b><b>{{bus.busTo}}</b><b>{{bus.travelTime}}</b><b>{{bus.busFair}}</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted exp"></h6>
                    <p class="card-text exp">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                    <div class="buttton mb-3">
                        <button type="button" class="btn btn-outline-primary ms-2 "
                            (click)="isCollapsed = ! isCollapsed" [attr.aria-expanded]="!isCollapsed"
                            aria-controls="collapseExample">
                            Select seats
                        </button>
                    </div>

                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="container">

                            <form #f="ngForm" (ngSubmit)="onSubmit(f,bus)">
                                Enter number of seats you want to book:
                                <input type="number" name="seatNo" ngModel #seatNo="ngModel" />
                                <button class="btn btn-warning">Check</button>
                            </form>
                            
                            <p>The number of selected seats are : {{noOfselectedSeats}}</p>
                            <form #f="ngForm" (ngSubmit)="onSubmit(f,bus) ">

                                <button class="btn btn-warning">Proceed to Pay</button>
                                <br>
                                <hr>
                                <div>
                                    <h1>
                                        <div *ngIf="toggleOn; else elseBlock">
                                            <app-paymentpage [item]="currentBookedSeats"></app-paymentpage>
                                        </div>
                                        <ng-template #elseBlock></ng-template>
                                        <hr>
                                    </h1>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
            