<!-- <div class="container px-0">
    <div class="card px-md-4 px-3 pb-4 bg-warning">
        <div class="d-flex flex-column my-3">
            <p class="h8">Payment method</p>
            <p class="text-muted">Enter details and choose your payment method to pay</p>
        </div>
        <form >
            Enter name : <input type="text" name="name" id="">
            <br>
            <br>
            Enter age : <input type="number" name="age" id="">
            <br>
            <br>
            Choose Gender
            <input type="radio" name="gender" id="">Male
            <input type="radio" name="gender" id="">Female
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Make payment</button>
        </form>
        <br>
        <div class="payment mb-2">
            <a routerLink="/card">
                <div class="btn btn-primary">
                    <div>
                        <span class="far fa-credit-card pay"></span>
                        <span class="ps-3">Card</span>
                    </div>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </a>
        </div>
    </div>
</div> -->
<h5>You have selected these many seats :{{item}} </h5>
<li *ngFor='let in of counter(item) ;let item = index'>
    <form class="small">

        Enter name : <input type="text" name="name" id="">
        <br>
        <br>
        Enter age : <input type="number" name="age" id="">
        <br>
        <br>
        Choose Gender
        <input type="radio" name="gender" id="">Male
        <input type="radio" name="gender" id="">Female
        <br>
        <br>
        
    </form>
    </li>
    <button class="btn btn-primary" type="submit">Make payment</button>
<div class="container">

   


</div>