<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">


<div class="div">
    <!-- search for routes html -->
    <h1>Welcome {{testService.fname}}</h1>
    <div class="input-label">From</div>
    <select [(ngModel)]="busesService.busFrom" class="form-select" aria-label="Default select example">
      
      <option value="{{ station.stationName }}" *ngFor="let station of stations">
        {{ station.stationName }}
      </option>
    </select>
    <div class="input-label">To</div>
    <select [(ngModel)]="busesService.busTo" class="form-select" aria-label="Default select example">
      
      <option value="{{ station.stationName }}" *ngFor="let station of stations">
        {{ station.stationName }}
      </option>
    </select>
    <button (click)="onClick()" class="btn btn-warning">Book</button>
</div>
<div class="container mt-4 px-4 mid" >
    <!-- search ends  -->
    <!-- top routes html -->
    <!-- <div class="input-label">From</div>
    <select [(ngModel)]="bus.busFrom" class="form-select" aria-label="Default select example">
      <option value="" disabled selected></option>
      <option value="{{ station.stationId }}" *ngFor="let station of stations">
        {{ station.stationName }}
      </option>
    </select>
    <div class="input-label">To</div>
    <select [(ngModel)]="bus.busTo" class="form-select" aria-label="Default select example">
      <option value="" disabled selected></option>
      <option value="{{ station.stationId }}" *ngFor="let station of stations">
        {{ station.stationName }}
      </option>
    </select> -->
    <!-- <div class="row">
        
        <div class="col-md-3 col-lg-6 ">
            [(bus.busFrom)] to [(bus.busTo)]
        </div>
        <div class="col-md-3 ">
            <form #f="ngForm" (ngSubmit)="onClick(f) ">

                <button class="btn btn-warning">Book</button>
            </form>
        </div> -->
        <!-- <div class="col-md-3">
            {{bus.busFrom}} to {{bus.busTo}}

        </div>
        <div class="col-md-3">
           
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div> -->
    <!-- </div> -->
    <hr>
    <!-- <div class="row">

        <div class="col-md-3">
            Pune to Ahmedabad
        </div>
        <div class="col-md-3">
            <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                value="Check">
        </div>
        <div class="col-md-3">
            Chennai to Bangalore
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Delhi to Patna
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
        <div class="col-md-3">
            Hyderabad to Mumbai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Delhi to Mumbai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
        <div class="col-md-3">
            Mumbai to Delhi
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Bangalore to Chennai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
        <div class="col-md-3">
            Nagpur to Bangalore
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/booking" routerLinkActive='activebutton' type="submit"
                    value="Check"></a>
        </div>
    </div> -->
    <hr>
    <!-- top routes ending -->
    <!-- offers start -->
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 " style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
       ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <button class="btn btn-outline-dark btn-warning mb-2 me-2"
                            (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <button class="btn btn-outline-dark btn-warning mb-2 me-2"
                            (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>

                        <button class="btn btn-outline-dark btn-warning mb-2 me-2"
                            (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget
            quam.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
            rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
            consectetur et.
            Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<!-- offers end -->

<!-- testtimonials start -->




<div class="testimonials">
    <div class="inner">
        <h1>Testimonials</h1>
        <div class="border"></div>

        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <img src="https://tse3.mm.bing.net/th/id/OIP.IiYk9qKGFI8sCbOSnxVX3AHaHa?pid=ImgDet&w=193&h=193&c=7&dpr=1.5"
                        alt="">
                    <div class="name">Raj Mammodia</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <p>
                        We took the bus service from Vienna to Prague as well as from Prague to Berlin. Bus service was excellent. Customer service was great. Buses were clean and comfy. 
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="https://tse4.mm.bing.net/th/id/OIP.oZ0vB6WM-16q_LO4lHYgIQHaH0?pid=ImgDet&w=193&h=204&c=7&dpr=1.5"
                        alt="">
                    <div class="name">Sandeep Rane</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p>
                        We booked online our trip from Prague to Cesky Krumlov and we are so glad we did as you may not have otherwise got a seat .
The coach was on time.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="https://tse2.mm.bing.net/th/id/OIP.RWEqTSVO-8XTbW4AwseAgQHaHa?pid=ImgDet&w=193&h=193&c=7&dpr=1.5"
                        alt="">
                    <div class="name">Chander Damodaran</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p>
                        I bought the bus tickets on the website for 1 euro one way and 1 euro return. The bus was new they also offer you coffee, tea or free hot chocolate
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonials end -->
<!-- footer -->

<!-- footer section start -->

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4 text-white" style="background-color: burlywood">
            <!-- Left -->
            <div class="me-4">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <!-- <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a> -->
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <!-- <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a> -->
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Orange Bus</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            OrangeBus is India’s largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Quick Links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a routerLink="/home-page" class="text-dark">Home</a>
                        </p>
                        <p>
                            <a routerLink="/registration" class="text-dark">Register</a>
                        </p>
                        <p>
                            <a routerLink="/faq" class="text-dark">FAQs</a>
                        </p>
                        <!-- <p>
                            <a routerLink="/" class="text-dark"></a>
                        </p> -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold ">Contact Us</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; background-color: #7c4dff; height: 2px " />
                        <p><i class="fas fa-home mr-3 "></i> Bren Optimus, Koramangala</p>
                        <p><i class="fas fa-envelope mr-3 "></i> orangebus@email.com</p>
                        <p><i class="fas fa-phone mr-3 "></i> +91 8934567210</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2) ">
            © 2022 Copyright:
            <a class="text-dark" routerLink="/home-page">OrangeBus</a>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->

<!-- ariaCurrentActive='page' routerLinkActive='activebutton' -->
<!-- footer copy right section end -->